@using Microsoft.AspNetCore.Http;
@{
    string status, mode, diff;
    diff = ViewBag.Beatmap["DifficultyRating"];
    diff = diff.Substring(0, 4);
    switch (Convert.ToInt32(ViewBag.Mode))
    {
        case 0:
            mode = "osu!";
            break;
        case 1:
            mode = "osu!taiko";
            break;
        case 2:
            mode = "osu!ctb";
            break;
        case 3:
            mode = "osu!mania";
            break;
        default:
            mode = "osu!";
            break;
    }
    switch (Convert.ToInt32(ViewBag.Status))
    {
        case -2:
            status = "Unknown";
            break;
        case -1:
            status = "Not Submitted";
            break;
        case 1:
            status = "Need Update";
            break;
        case 2:
            status = "Ranked";
            break;
        case 3:
            status = "Approved";
            break;
        case 4:
            status = "Qualified";
            break;
        case 5:
            status = "Loved";
            break;
        default:
            status = "Unranked";
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta property="og:title" content="@ViewBag.Artist - @ViewBag.Title | osu!Himitsu" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://himitsu.ml/b/@ViewBag.Beatmap["BeatmapID"]" />
    <meta property="og:image" content="https://himitsu.ml/64.png" />
    <meta property="og:description" content="@status @mode beatmap by @ViewBag.Artist
          @diff ⭐ @ViewBag.Beatmap["BPM"] 🎶
          CS @ViewBag.Beatmap["CS"] | AR @ViewBag.Beatmap["AR"] | OD @ViewBag.Beatmap["OD"] | HP @ViewBag.Beatmap["HP"]" />
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#d249e6">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/content-1.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/beatmap.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Himitsu</title>
</head>

<header id="header">
    <div id="header-top">
        <a title="Открыть меню"><img src="../resources/header/logo.png" href="" id="header-logo" onmousedown="headerLogoButton()" /></a>
        <div id="header-profile-container">
        </div>
        @{ if (Context.Session.Keys.Contains("userid"))
            { <a href="/u/@Context.Session.GetInt32("userid")" class="header-button-a"><img src="../resources/header/user.svg" class="header-button" /><text class="header-button-text">Профиль</text></a> } }
        <a href="/" class="header-button-a"><img src="../resources/header/home-button.png" class="header-button" /><text class="header-button-text">Главная</text></a>
        <a href="/leaderboard" class="header-button-a"><img src="../resources/header/leaderboard-button.png" class="header-button" /><text class="header-button-text">Рекорды</text></a>
        <a target="_blank" href="https://hentai.ninja/beatmaps" class="header-button-a"><img src="../resources/header/library-button.png" class="header-button" /><text class="header-button-text">Библиотека</text></a>
    </div>
    <div id="header-bottom">
        <a href="/about" class="header-button-a"><img src="../resources/header/about.png" class="header-button" /><text class="header-button-text">О&nbsp;сервере</text></a>
        <a href="/settings" class="header-button-a"><img src="../resources/header/settings.png" class="header-button" /><text class="header-button-text">Настройки</text></a>
        @{ if (Context.Session.Keys.Contains("userid"))
            { <a href="/logout" class="header-button-a"><img src="../resources/header/logout.png" class="header-button" /><text class="header-button-text">Выйти</text></a> } }
    </div>
</header>

<body onload="displayContent()">
    <div id="content" class="content">
        <div class="panel">

            <div class="mode-selector-panel">
                <div>
                    <li id="mode-vanilla" onclick="osuMode(0), loadLeaderboard(beatmapID, curr_mode, 0)">Vanilla</li>
                    <li id="mode-relax" onclick="osuMode(1), loadLeaderboard(beatmapID, curr_mode, 1)">Relax</li>
                </div>
                <div class="mode-selector-panel-right">
                    <li id="mode-std" onclick="osuGameMode(0), loadLeaderboard(beatmapID, 0, curr_rx)">osu!standard</li>
                    <li id="mode-taiko" onclick="osuGameMode(1), loadLeaderboard(beatmapID, 1, curr_rx)">osu!taiko</li>
                    <li id="mode-ctb" onclick="osuGameMode(2), loadLeaderboard(beatmapID, 2, curr_rx)">osu!catch</li>
                    <li id="mode-mania" onclick="osuGameMode(3), loadLeaderboard(beatmapID, 3, curr_rx)">osu!mania</li>
                </div>
            </div>

            <div id="beatmap-main-bg" class="white-text">
                <div id="beatmap-info">
                    <div id="beatmap-diffs">
                        <div id="diff-button" class="show-all-diffs" onclick="beatmapFullDiff()">Показать все</div>
                    </div>
                    <text id="beatmap-diff-name"></text>
                    <div id="beatmap-stats">
                        <table>
                            <tr>
                                <td colspan="2" class="text-center main-value"><i><big>@status</big></i></td>
                            </tr>
                            <tr>
                                <td>Размер нот</td>
                                <td id="cs" class="text-right"></td>
                            </tr>
                            <tr>
                                <td>Скорость подхода</td>
                                <td id="ar" class="text-right"></td>
                            </tr>
                            <tr>
                                <td>Точность</td>
                                <td id="od" class="text-right"></td>
                            </tr>
                            <tr>
                                <td>Потеря HP</td>
                                <td id="hp" class="text-right"></td>
                            </tr>
                        </table>
                        <table style="margin-top: 15px">
                            <tr>
                                <td class="beatmap-stat-icon"><img src="../resources/beatmap/star.svg" /></td>
                                <td></td>
                                <td class="beatmap-stat-icon"><img src="../resources/beatmap/clock.svg" /></td>
                                <td></td>
                                <td class="beatmap-stat-icon"><img src="../resources/beatmap/music-player.svg" /></td>
                            </tr>
                            <tr class="text-center">
                                <td id="star"></td>
                                <td></td>
                                <td id="time"></td>
                                <td></td>
                                <td id="bpm"></td>
                            </tr>
                        </table>
                    </div>
                    <script>
                        var beatmapSetID = @ViewBag.BeatmapSetID;
                        var beatmapID = @ViewBag.Beatmap["BeatmapID"];
                        var jsonData = JSON.parse(`@ViewBag.Set`);
                        initUpdate(jsonData);
                    </script>
                </div>
            </div>

            <div class="base-container">
                <div>
                    <div id="beatmap-name" class="bold-text">@ViewBag.Title</div>
                    <div id="beatmap-author">@ViewBag.Artist</div>
                    <div id="beatmap-creator"><i>от @ViewBag.Creator</i></div>
                </div>
                <div id="beatmap-buttons">
                    <a href="https://storage.ripple.moe/d/@ViewBag.BeatmapSetID" class="link-button"><div class="button standard-button button-cyan">Скачать</div></a>
                    @{if (ViewBag.HasVideo) { <a href="https://storage.ripple.moe/d/@ViewBag.BeatmapSetID?novideo" class="link-button"><div class="button standard-button button-pink">Без видео</div></a> }}
                    <a href="osu://dl/@ViewBag.BeatmapSetID" class="link-button"><div class="button standard-button button-violet">osu!direct</div></a>
                </div>
            </div>

            <div class="profile-separator"></div>

            <div id="leaderboard-panel">
                <table id="leaderboard-table">
                    <thead>
                        <tr class="beatmap-text-top">
                            <td width="2px">Место</td>
                            <td width="20px"></td>
                            <td width="1px"></td>
                            <td>Игрок</td>
                            <td width="50px">Комбо</td>
                            <td width="50px">РР</td>
                            <td width="100px">Очки</td>
                            <td width="5px">Точность</td>
                            <td width="80px" class="text-center">Моды</td>
                            <td width="40px">300</td>
                            <td width="40px">100</td>
                            <td width="40px">50</td>
                            <td width="5px">Промах</td>
                        </tr>
                    </thead>
                    <tbody id="leaderboard-user-data">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
